<!DOCTYPE html>
<html>
  <head>
    <title>IF_MAP</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 90%;
        width : 80%;
        margin: 1;
        padding: 1;
      }
      .tombolAtas {
          position: absolute;
          width: 174px;
          height: 63px;
          left: 1097px;
          top: 96px;
      }

      .tombolBawah {
          position: absolute;
          width: 174px;
          height: 63px;
          left: 1097px;
          top: 202px;
      }
    </style>
    
    <script>
        var id = 0;
        var id2 = 0;
        var step = 1;
        icon1 = {url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"}
        icon2 = {url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"}
        var marker1;
        var marker2;
        var infowindow;
        coords = [];
        coordHasil = [];
        markers = [];
        
        
        function myFunc(vars) {
            return vars;
        }
        
      function sendSimpul(){
        const URL = '/kirim_simpul'
        const xhr = new XMLHttpRequest();
        sender = JSON.stringify([id, id2]);
        xhr.open('POST', URL);
        xhr.send(sender);
        console.log("send Simpul");
      }
      function initMap() {
        const myLatlng = { lat: -6.8915, lng: 107.6107 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: myLatlng,
        });
        
        var graph = '{{graph|tojson}}';
        graph = JSON.parse(graph);

        var node = '{{node|tojson}}';
        node = JSON.parse(node);
        
        var matrix = '{{matrix|tojson}}';
        matrix = JSON.parse(matrix);

        var hasil = '{{hasil|tojson}}';
        hasil = JSON.parse(hasil);
        console.log(hasil);
        console.log(hasil[1]);
        //console.log(matrix);
        // Configure the click listener.
        infowindow = new google.maps.InfoWindow({
          content: '<p>' + hasil[0] + ' meter' + '</p>',
        });
            
            
            //bikin marker
            for (var j = 1; j<=Object.keys(graph).length;j++){
                
                let marker = new google.maps.Marker({
                position: { lat: graph[node[j]][0], lng: graph[node[j]][1]},
                map,
                title: node[j],
                });

                if (hasil[1].indexOf(node[j]) >= 0){
                    marker.setIcon(icon1);
                    if (hasil[1].indexOf(node[j]) == 0){
                        marker1= marker;
                    }
                }else{
                    marker.setIcon(icon2);
                }
                coords.push(marker.getPosition());
                //markers.push(marker);
            }
            for (var i = 0; i<coords.length;i++){
                for (var j = 0; j<i;j++){
                    if(matrix[i][j] == 1){
                        var line= new google.maps.Polyline({
                            path: [coords[i], coords[j]],
                            geodesic: true,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });   
                        line.setMap(map);
                    }
                }
            }
            console.log(coords);
            for (var i = 0; i<Object.keys(hasil[1]).length;i++ ){
                console.log(i);
                coordHasil.push(coords[node.indexOf(hasil[1][i])-1]);
            }
            console.log(coordHasil);
            var line1= new google.maps.Polyline({
                            path: coordHasil,
                            geodesic: true,
                            strokeColor: '#0000FF',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });
            line1.setMap(map); 
            infowindow.open(map, marker1);  
      }
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <h3>
        IF_MAP
    </h3>
    <p> Jalur terpendek berwarna biru</p>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAODM10I674sTi_1kX905YhiM0QdzkFseY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    
    <form action= "/" enctype="multipart/form-data">
        <a><button type="submit" class="tombolAtas" value ="submit">Main Menu</button></a>
    </form>
  </body>
</html>