<!DOCTYPE html>
<html>
  <head>
    <title>IF_MAP</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='tombol.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
    <script>
        var id = 0;
        var id2 = 0;
        var step = 1;
        icon1 = {url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"}
        icon2 = {url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"}
        var marker1;
        var marker2;
        var infowindow;
        coords = [];
        markers = [];
        
        
        function myFunc(vars) {
            return vars;
        }
        
      function reset(){
          step = 1;
          marker1.setIcon();
          marker2.setIcon();
          infowindow.close();
          console.log("reset")
      }
      function sendSimpul(){
        const URL = '/kirim_simpul'
        const xhr = new XMLHttpRequest();
        sender = JSON.stringify([id, id2]);
        xhr.open('POST', URL);
        xhr.send(sender);
        console.log("send Simpul");
      }
      function initMap() {
        
        
        var graph = '{{graph|tojson}}';
        graph = JSON.parse(graph);

        var node = '{{node|tojson}}';
        node = JSON.parse(node);
        
        var matrix = '{{matrix|tojson}}';
        matrix = JSON.parse(matrix);
        //console.log(matrix);
        // Configure the click listener.

        const myLatlng = { lat: graph[node[1]][0], lng: graph[node[1]][1] };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: myLatlng,
        });

        infowindow = new google.maps.InfoWindow({
          content: '<p>Tekan reset untuk memilih ulang simpul</p>',
        });
        
            
            //bikin marker
            for (var j = 1; j<=Object.keys(graph).length;j++){
                let marker = new google.maps.Marker({
                position: { lat: graph[node[j]][0], lng: graph[node[j]][1]},
                map,
                title: node[j],
                });
                coords.push(marker.getPosition());
                //markers.push(marker);
                window.google.maps.event.addListener(marker, 'click', function () {
                    console.log("click");
                    if (step == 1){
                        //coords.push(marker.getPosition());
                        id = marker.getTitle();
                        marker.setIcon(icon1);
                        marker1 = marker;
                    }
                    else if(step == 2){
                        //coords.push(marker.getPosition());
                        id2 = marker.getTitle();
                        marker.setIcon(icon2);
                        marker2 = marker;
                        // ubah warna marker bisa pake marker.setIcon(imagenya)
                    }
                    else{
                      infowindow.open(map, marker);
                    }
                    step = step + 1;
                });
            }
            for (var i = 0; i<coords.length;i++){
                for (var j = 0; j<i;j++){
                    if(matrix[i][j] == 1){
                        var line= new google.maps.Polyline({
                            path: [coords[i], coords[j]],
                            geodesic: true,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });   
                        line.setMap(map);
                    }
                }
            }
      }
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <h3>
        IF_MAP
    </h3>
    <p> Pilih simpul awal dan simpul tujuan</p>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAODM10I674sTi_1kX905YhiM0QdzkFseY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <form method="POST" action= "answer" enctype="multipart/form-data">
        <a><button type="submit" class="tombolAtas" value ="submit" onclick="sendSimpul()">Next</button></a>
    </form>
    <button onclick="reset()" class="tombolBawah">Reset</button>
    {% block body %}{% endblock %}
  </body>
</html>